@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

img {
  display: block;
  margin: auto;
}

.imageGroup {
  width: 90%;
  margin: auto;
}

.scrollImage {
  display: block;
  margin: auto;
  max-width: 90%;
}

.post-image {
  width: 95%;
  height: auto;
  border: black;
  border-style: solid;
  border-width: thin;
  margin: 2% auto;
}

#mapid {
  height: 100vh;
  display: block;
  margin: auto;
}

.mapContainer {
  display: block;
  margin: auto;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
  font-family: "roboto", sans-serif;
  padding-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
  z-index: 999;
}

.nav-wrapper {
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand-img {
  height: 100%;
  margin-top: 5px;
}

.nav-items {
  height: 22px;
  position: relative;
}

.icon {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.user-profile {
  width: 22px;
  border-radius: 50%;
  background-size: cover;
}

.post {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1000px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 100% 40%;
  -ms-grid-columns: 60% 40%;
  grid-gap: 30px;
  /* justify-content: ; */
}

.left-col {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  justify-items: center;
}

.post-content {
  width: 100%;
  padding: 20px;
}

.likes {
  font-weight: bold;
}

.description {
  margin: 10px 0;
  font-size: 14px;
  line-height: 20px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.columnated {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  -ms-grid-rows: minmax(100px, auto);
}

.direction {
  width: 30vw;
}

.profilePhoto {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.homeLanding {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  display: block;
  margin: auto auto auto auto;
}

.homeIcon {
  height: 60vh;
  margin: auto;
}

.homeText {
  margin: auto;
  text-align: center;
}

.navIcon {
  height: 90%;
  margin-top: 5%;
}

.navIconImage {
  height: 100%;
  margin: 0 33%;
}

.navIconContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navHeadline {
  margin-right: -50%;
}

.previewImage {
  height: 20vh;
}

.detailPhoto {
  height: 80vh;
  display: block;
  margin: auto;
}

.detailContainer {
  padding-top: 1%;
}

.detailContent {
  display: flex;
  justify-content: center;
}

.userLanding {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.altClassName {
  width: 100vw;
}

.altClassName2 {
  width: 1px;
}

.photoDetailContainer {
  width: 55vw;
  display: block;
  margin: auto;
}
